.idea/*
vendor/*
configuration/*
composer.lock
remittance/operator/.htaccess
remittance/operator/.htpasswd
remittance/manager/.htaccess
remittance/manager/.htpasswd
remittance\promotion/*
/remittance/cli.php
