RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

AuthUserFile /var/www/application/remittance/manager/.htpasswd
AuthGroupFile /var/www/application/remittance/manager/.htgroup
AuthName "error"
AuthType Basic
require group remittance-manager
